<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Shoe Shopper | Home</title>
    </head>
    <body>
        <div class="container">
            <h1 class="jumbotron">Welcome to the Shoe Shopper</h1>
            <h4>Here, you can browse various shoe stores in Portland, and see which brands they carry. You can also browse by brand to see what stores carry that brand. Feel free to browse the database or enter a new store or brand.</h4>

            
        </div>
    </body>
</html>
